In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/Михаил/Desktop/Анализ данных/auto-mpg.data', sep=' ', na_values='?', 
                   names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name'])

In [3]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [4]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [5]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [6]:
data[data.horsepower.isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [7]:
data.horsepower.mean()

104.46938775510205

In [8]:
data.horsepower.fillna(data.horsepower.mean(), inplace=True)

In [9]:
data.horsepower.isna().sum()

0

In [10]:
data.horsepower[32]

104.46938775510205

In [11]:
#Приводим категорию origin к числу

In [12]:
data = pd.get_dummies(data, columns=["origin"], drop_first=True)

In [ ]:
#Нормализуем model year и cylinders

In [27]:
a = data['model year'].mean()
v = data['model year'].std()
data['model year'] = (data['model year'] - a)/v

In [28]:
a1 = data['cylinders'].mean()
v1 = data['cylinders'].std()
data['cylinders'] = (data['cylinders'] - a1)/v1

In [29]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,origin_2,origin_3
0,18.0,1.496308,307.0,130.0,3504.0,12.0,-1.625381,chevrolet chevelle malibu,0,0
1,15.0,1.496308,350.0,165.0,3693.0,11.5,-1.625381,buick skylark 320,0,0
2,18.0,1.496308,318.0,150.0,3436.0,11.0,-1.625381,plymouth satellite,0,0
3,16.0,1.496308,304.0,150.0,3433.0,12.0,-1.625381,amc rebel sst,0,0
4,17.0,1.496308,302.0,140.0,3449.0,10.5,-1.625381,ford torino,0,0
...,...,...,...,...,...,...,...,...,...,...
393,27.0,-0.855244,140.0,86.0,2790.0,15.6,1.619944,ford mustang gl,0,0
394,44.0,-0.855244,97.0,52.0,2130.0,24.6,1.619944,vw pickup,1,0
395,32.0,-0.855244,135.0,84.0,2295.0,11.6,1.619944,dodge rampage,0,0
396,28.0,-0.855244,120.0,79.0,2625.0,18.6,1.619944,ford ranger,0,0
397,31.0,-0.855244,119.0,82.0,2720.0,19.4,1.619944,chevy s-10,0,0