In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('C:/Users/Михаил/Desktop/Анализ данных/auto-mpg.data', sep=' ', na_values='?', 
                   names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name'])

In [4]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [5]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [6]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [7]:
data[data.horsepower.isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

### Заменим пропуски средним по весовой категории

In [9]:
data.groupby(data['model year']).horsepower.mean()

model year
70    147.827586
71    107.037037
72    120.178571
73    130.475000
74     94.230769
75    101.066667
76    101.117647
77    105.071429
78     99.694444
79    101.206897
80     77.481481
81     81.035714
82     81.466667
Name: horsepower, dtype: float64

In [10]:
data['weight_category'] = data.weight.apply(lambda w: int(w / 500))

In [11]:
data.groupby(data.weight_category).horsepower.mean()

weight_category
3      63.714286
4      78.029703
5      95.036585
6     105.034483
7     129.311111
8     163.021277
9     178.375000
10    175.000000
Name: horsepower, dtype: float64

In [12]:
data['horsepower_nona'] = data.groupby(data.weight_category).horsepower.apply(lambda h: h.fillna(h.mean()))

In [13]:
data[data.horsepower.isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,weight_category,horsepower_nona
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto,4,78.029703
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick,5,95.036585
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe,3,63.714286
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra,5,95.036585
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i,4,78.029703
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl,6,105.034483

In [14]:
data.horsepower = data.horsepower_nona

In [15]:
data.drop('horsepower_nona', axis=1, inplace=True)
data.drop('weight_category', axis=1, inplace=True)

In [16]:
data.horsepower.isna().sum()

0

In [17]:
data.horsepower[32]

78.02970297029702

### Приводим категории к числу

In [21]:
data = pd.get_dummies(data, columns=['origin','model year'], drop_first=True)

<font color="red"> Лучше использовать стандартные нормалайзеры типа https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html </font>

In [22]:
data['cylinders'] = (data['cylinders'] - data['cylinders'].mean())/data['cylinders'].std()
data['displacement'] = (data['displacement'] - data['displacement'].mean())/data['displacement'].std()
data['horsepower'] = (data['horsepower'] - data['horsepower'].mean())/data['horsepower'].std()
data['weight'] = (data['weight'] - data['weight'].mean())/data['weight'].std()
data['acceleration'] = (data['acceleration'] - data['acceleration'].mean())/data['acceleration'].std()

In [23]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,car name,origin_2,origin_3,model year_71,...,model year_73,model year_74,model year_75,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82
0,18.0,1.496308,1.089233,0.673855,0.630077,-1.293870,chevrolet chevelle malibu,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,1.496308,1.501624,1.587580,0.853259,-1.475181,buick skylark 320,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,1.496308,1.194728,1.195984,0.549778,-1.656492,plymouth satellite,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,1.496308,1.060461,1.195984,0.546236,-1.293870,amc rebel sst,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,1.496308,1.041280,0.934920,0.565130,-1.837804,ford torino,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,-0.855244,-0.512381,-0.474827,-0.213056,0.011571,ford mustang gl,0,0,0,...,0,0,0,0,0,0,0,0,0,1
394,44.0,-0.855244,-0.924773,-1.362446,-0.992422,3.275173,vw pickup,1,0,0,...,0,0,0,0,0,0,0,0,0,1
395,32.0,-0.855244,-0.560333,-0.527040,-0.797581,-1.438919,dodge rampage,0,0,0,...,0,0,0,0,0,0,0,0,0,1
396,28.0,-0.855244,-0.704191,-0.657572,-0.407897,1.099439,ford ranger,0,0,0,...,0,0,0,0,0,0,0,0,0,1
397,31.0,-0.855244,-0.713781,-0.579253,-0.295716,1.389537,chevy s-10,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Уберем названия машин из data

<font color="red"> Если цель была скопировать датафрейм, то это так не работает. Так data1 по-прежнему ссылается на data. Если цель была скопировать данные, то надо использовать метод copy() </font>

In [24]:
data1 = data
data1.drop('car name', axis=1, inplace=True)

In [25]:
data1

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin_2,origin_3,model year_71,model year_72,model year_73,model year_74,model year_75,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82
0,18.0,1.496308,1.089233,0.673855,0.630077,-1.293870,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,15.0,1.496308,1.501624,1.587580,0.853259,-1.475181,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,18.0,1.496308,1.194728,1.195984,0.549778,-1.656492,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,16.0,1.496308,1.060461,1.195984,0.546236,-1.293870,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,17.0,1.496308,1.041280,0.934920,0.565130,-1.837804,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,-0.855244,-0.512381,-0.474827,-0.213056,0.011571,0,0,0,0,0,0,0,0,0,0,0,0,0,1
394,44.0,-0.855244,-0.924773,-1.362446,-0.992422,3.275173,1,0,0,0,0,0,0,0,0,0,0,0,0,1
395,32.0,-0.855244,-0.560333,-0.527040,-0.797581,-1.438919,0,0,0,0,0,0,0,0,0,0,0,0,0,1
396,28.0,-0.855244,-0.704191,-0.657572,-0.407897,1.099439,0,0,0,0,0,0,0,0,0,0,0,0,0,1
397,31.0,-0.855244,-0.713781,-0.579253,-0.295716,1.389537,0,0,0,0,0,0,0,0,0,0,0,0,0,1

### Train/Test

In [26]:
from sklearn.model_selection import train_test_split

X = data.drop('mpg', axis=1).to_numpy()
y = data.mpg.to_numpy()


print(X.shape)
print(y.shape)

(398, 19)
(398,)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [28]:
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(266, 19)
(266,)
(132, 19)
(132,)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [31]:
mean_squared_error(y_test, y_pred)

9.184359512854929

### SGDR Regression

In [56]:
from sklearn.linear_model import SGDRegressor
model = SGDRegressor(penalty='l1', alpha=0.05, max_iter=10000)

In [57]:
model.fit(X_train, y_train)

SGDRegressor(alpha=0.05, max_iter=10000, penalty='l1')

In [58]:
y_pred = model.predict(X_test)
mean_squared_error(y_test, y_pred)

9.70145398402212

### Grid Search, определим лучшие коэффициенты

In [65]:
from sklearn.model_selection import GridSearchCV

In [66]:
parameters = {'penalty': ['l1', 'l2'], 'alpha': [0.01, 0.05, 0.1, 0.5, 1], 'max_iter': [1000, 5000, 10000]}

In [67]:
model = SGDRegressor()

In [68]:
gs_model = GridSearchCV(model, parameters, scoring='neg_mean_squared_error', cv=5, n_jobs=-1)

In [69]:
gs_model.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=SGDRegressor(), n_jobs=-1,
             param_grid={'alpha': [0.01, 0.05, 0.1, 0.5, 1],
                         'max_iter': [1000, 5000, 10000],
                         'penalty': ['l1', 'l2']},
             scoring='neg_mean_squared_error')

In [70]:
gs_model.best_params_

{'alpha': 0.01, 'max_iter': 5000, 'penalty': 'l1'}

### Расчет с лучшими коэффициентами

In [71]:
model = SGDRegressor(alpha=0.01, max_iter=5000, penalty='l1')

In [72]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mean_squared_error(y_test, y_pred)

9.356978300117468

In [82]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')

In [83]:
scores

array([ -6.97979317, -11.33233532,  -6.64618639, -21.67832908,
       -59.89848121])

<font color="red"> Касательно вопроса о том что это за метрики: Вы передали параметр scoring='neg_mean_squared_error'. Это и есть та метрика, которая была применена на каждом из 5 (cv=5) разбиений. То есть это среднеквадратичная ошибка со знаком минус. И тут хороший вопрос почему эту метрику так колбасит. То есть чем примчетельны эти два крайних разбиения </font>